

body {
    text-align: center;
    margin-top: 50px;
    

}
.calculator {
    display: inline-block;
    text-align: center;
    
}
/* 
.displayAll{
    width: 240px;
    height: 40px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 20px;
    padding-right: 10px;
} */
.displayAll {
    width: 260px;
    height: 50px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding: 15px 10px 15px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    resize: none; /* textarea 기본 resize 제거 */
    font-weight: bold;
    
  }

.display {
    width: 260px;
    height: 50px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding: 15px 10px 15px;
    /* //padding-right: 10px; */
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    resize: none; /* textarea 기본 resize 제거 */
    font-weight: bold;
  }

.button {
    width: 50px;
    height: 50px;
    margin: 2px;
    font-size: 18px;
    cursor: pointer;
}

.row {
    margin-bottom: 5px;
}

.show-button{
    margin-bottom: 5px;
    padding-right:  10px;
    text-align: right;

}

.hidden {
    display: none;
}

.base-container {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 240px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;   

}

 .base-field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    
}

 .base-input {
    width: 150px;
    text-align: right;
    border: none;
} 

.toggle-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bffdd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.toggle-button:hover {
    background-color: #6aed32;
}