{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculator</title>
    <link rel="stylesheet" href="{% static 'All.css' %}" />
    {% comment %}
    <link rel="stylesheet" href="{% static 'calculator/Main.css' %}" />
    {% endcomment %}
  </head>
  <body>
    {% include "header.html" %}

    <script src="{% static 'calculator/Main.js' %}"></script>
    <script src="{% static 'All.js' %}"></script>
  </body>
</html>
