/* 헤더 스타일 */
.header-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* 세로 정렬: 가운데 */
  justify-content: space-between; /* h1 왼쪽, clock 오른쪽 */
  padding: 0 10px; /* 좌우 패딩 */
}

.header-bar h1 {
  margin: 10px;
}

#clock {
  flex: 0 0 auto;
  margin-left: auto;
  font-size: 16px;
  margin-right: 10px;
}

/* 메뉴바 스타일 */
.navbar {
  background-color: #333;
  padding: 10px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-item {
  position: relative;
}

.menu-link {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.menu-link:hover {
  background-color: #555;
}

/* 홈 아이콘 스타일 */
.home-icon-container {
  flex: 0 0 auto; /* 크기 고정 */
  margin-right: auto; /* 왼쪽으로 배치 */
}

.home-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

/* 가운데 메뉴 정렬 */
.menu-center {
  display: flex;
  justify-content: center;
  flex: 1; /* 남은 공간 사용 */
}

/* .menu-item {
  margin: 0;
} */

/* .menu-link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
} */
/* 
.menu-link:hover {
  background-color: #4e5155;
  font-weight: bold;
} */

.menu-link.active {
  background-color: #4e5155;
  font-weight: bold;
}
/* Dropdown menu styles */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #444;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 150px;
  z-index: 1000;
}

.dropdown-item {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.dropdown-item:hover {
  background-color: #555;
}

/* Show dropdown menu on hover */
.menu-item:hover .dropdown-menu {
  display: block;
}
