{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculator</title>
    <link rel="stylesheet" href="{% static 'calculator/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'All.css' %}" />
  </head>
  <body>
    {% include "header.html" %}
    <div class="container">
      <div id="calculate" class="calculator">
        <div class="show-button">
          <button id="toggleBases" class="toggle-button">Show</button>
          <button id="toggleMemory" class="toggle-button">Memory</button>
        </div>
        <div class="text_display">
          <textarea id="displayAll" class="displayAll"></textarea>
          <textarea id="display" class="display"></textarea>
        </div>
        <div id="baseContainer" class="base-container hidden">
          <div>
            <div class="base-field">
              <label>HEX</label>
              <input type="text" class="base-input" id="displayHex" />
            </div>
            <div class="base-field">
              <label>DEC</label>
              <input type="text" class="base-input" id="displayDec" />
            </div>
            <div class="base-field">
              <label>OCT</label>
              <input type="text" class="base-input" id="displayOct" />
            </div>
            <div class="base-field">
              <label>BIN</label>
              <input type="text" class="base-input" id="displayBin" />
            </div>
          </div>
        </div>

        <div class="button-container">
          <div class="row">
            <button class="button" onclick="percent()">%</button>
            <button class="button" onclick="deletRecent()">CE</button>
            <button class="button" onclick="clearDisplay()">C</button>
            <button class="button" onclick="deleteOne()">←</button>
          </div>

          <div class="row">
            <button class="button" onclick="reciprocal()">¹/x</button>
            <button class="button" onclick="pow()">x²</button>
            <button class="button" onclick="sqrt()">√</button>
            <button class="button" onclick="operator('/')">/</button>
          </div>
          <div class="row">
            <button class="button" onclick="append('7')">7</button>
            <button class="button" onclick="append('8')">8</button>
            <button class="button" onclick="append('9')">9</button>
            <button class="button" onclick="operator('*')">X</button>
          </div>
          <div class="row">
            <button class="button" onclick="append('4')">4</button>
            <button class="button" onclick="append('5')">5</button>
            <button class="button" onclick="append('6')">6</button>
            <button class="button" onclick="operator('-')">-</button>
          </div>
          <div class="row">
            <button class="button" onclick="append('1')">1</button>
            <button class="button" onclick="append('2')">2</button>
            <button class="button" onclick="append('3')">3</button>
            <button class="button" onclick="operator('+')">+</button>
          </div>
          <div class="row">
            <button class="button" onclick="clearDisplay()">C</button>
            <button class="button" onclick="append('0')">0</button>
            <button class="button" onclick="append('.')">.</button>
            <button class="button" onclick="calculate()">=</button>
          </div>
        </div>
      </div>

      <!--Memory-->
      <div id="memorySidebar" class="memory-sidebar hidden">
        <h3>Memory</h3>
        <div class="memory-deleteAllBtn">
          <button id="deleteAllBtn" class="delete-all-btn">Delete All</button>
        </div>
        <ul id="memory-list">
          <!--계산 결과-->
        </ul>
      </div>
    </div>
    {% csrf_token %}
    <script>
      const csrfToken = "{{ csrf_token }}";
    </script>
    <script src="{% static 'calculator/script.js' %}"></script>
    <script src="{% static 'All.js' %}"></script>
  </body>
</html>
