<div class="container">
    <div class="calculator">
      <!-- 계산기 버튼 및 디스플레이 -->
      <div class="show-button"><button id="toggleBases" class="toggle-button">Show</button></div>
      <textarea id="displayAll" class="displayAll"></textarea>
      <br>
      <textarea id="display" class="display"></textarea>
      <div id="baseContainer" class="base-container hidden">
            <div>
            <div class="base-field">
                <label>HEX</label>
                <input type="text" class="base-input" id="displayHex">
            </div>
            <div class="base-field">
                <label>DEC</label>
                <input type="text" class="base-input" id="displayDec">
            </div>
            <div class="base-field">
                <label>OCT</label>
                <input type="text" class="base-input" id="displayOct">
            </div>
            <div class="base-field">
                <label>BIN</label>
                <input type="text" class="base-input" id="displayBin">
            </div>
            </div>
      </div>
      <br><br>
      <div class="row">
        <button class="button" onclick="percent()">%</button>
        <button class="button" onclick="deletRecent()">CE</button>
        <button class="button" onclick="clearDisplay()">C</button>
        <button class="button" onclick="deleteDisplay()">←</button>
      </div>
      <!-- 나머지 버튼 코드 -->
    </div>
  
    <div class="memory-sidebar">
      <h3>Memory</h3>
      <ul id="memory-list">
        <!-- 계산 결과 표시 -->
      </ul>
    </div>
  </div>
  